@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  /* 80% {
        transform: translateX(10px);
    } */
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  /* 80% {
        transform: translateX(-10px);
    } */
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-6rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(6rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes transition {
  0% {
    opacity: 1;
    transform: translateY(100%); }
  100% {
    opacity: 1;
    transform: translateY(-100%); } }

.page-transition {
  animation: fadeIn 3s ease .75s;
  animation-fill-mode: backwards; }

.fade-appear, .fade-enter {
  opacity: 0;
  z-index: 1; }

.fade-appear-active,
.fade-enter .fade-enter-active {
  opacity: 1;
  transition: opacity 300ms linear 150ms; }

.fade-exit {
  opacity: 0; }

.fade-exit .fade-exit-active {
  opacity: 0;
  transition: opacity 150ms linear; }

.background-test {
  background-color: black;
  top: 900;
  left: 0;
  width: 100%;
  height: 1000px;
  z-index: 9999;
  position: absolute;
  opacity: 0;
  animation: transition 2s ease;
  animation-fill-mode: backwards; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 56.25em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  padding: 0rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

a {
  text-decoration: none; }

body {
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #000; }

.left {
  text-align: left; }

.center {
  text-align: center; }

.header-primary {
  color: #000;
  /* Shaking animation bug fix */
  backface-visibility: hidden;
  position: absolute;
  width: 70%;
  left: 11rem;
  top: 15rem;
  margin-bottom: 3rem; }
  @media only screen and (max-width: 37.5em) {
    .header-primary {
      width: 100%;
      top: 2rem;
      left: 6rem; } }
  .header-primary--main {
    display: block;
    width: 100%;
    font-size: 6.25rem;
    font-weight: 900;
    text-align: left;
    animation: moveInTop 1.5s ease-out .75s;
    animation-fill-mode: backwards;
    line-height: 6.75rem;
    letter-spacing: .2px; }
    @media only screen and (max-width: 37.5em) {
      .header-primary--main {
        letter-spacing: -.2rem;
        font-size: 7rem;
        line-height: 6.5rem;
        margin-top: 7rem; } }

.section-primary {
  color: #fff;
  /* Shaking animation bug fix */
  backface-visibility: hidden;
  width: 100%;
  margin-bottom: 2.25rem; }
  @media only screen and (max-width: 37.5em) {
    .section-primary {
      width: 100%;
      top: 2rem;
      left: 6rem; } }
  .section-primary--main {
    display: block;
    width: 100%;
    font-size: 5.25rem;
    font-weight: 900;
    text-align: left;
    line-height: 6.75rem;
    letter-spacing: .2px;
    margin-bottom: 1rem; }
    @media only screen and (max-width: 37.5em) {
      .section-primary--main {
        letter-spacing: -.2rem;
        font-size: 7rem;
        line-height: 6.5rem;
        margin-top: 7rem; } }
  .section-primary--body {
    display: block;
    width: 100%;
    font-size: 2.25rem;
    font-weight: 500;
    text-align: left;
    letter-spacing: .5px;
    line-height: 4rem;
    letter-spacing: .2px; }

.heading-primary {
  color: #fff;
  /* Shaking animation bug fix */
  backface-visibility: hidden;
  margin-bottom: 3rem; }
  .heading-primary--sub {
    display: block;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: .5rem;
    animation: moveInLeft 1.25s ease-out 1s;
    animation-fill-mode: backwards;
    margin-bottom: 1.5rem;
    text-align: left; }
  .heading-primary--form {
    display: block;
    width: 100%;
    font-size: 2.7rem;
    font-weight: 900;
    line-height: 3.5rem;
    letter-spacing: 0px;
    color: #000; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--form {
        letter-spacing: -.2rem;
        font-size: 8rem;
        line-height: 7rem;
        text-align: center; } }
  .heading-primary--page {
    display: block;
    width: 100%;
    font-size: 4rem;
    font-weight: 500;
    line-height: 5rem;
    letter-spacing: 0px;
    color: #000;
    margin: 2rem 0; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--page {
        letter-spacing: -.2rem;
        font-size: 8rem;
        line-height: 7rem;
        text-align: center; } }

.heading-page {
  max-width: 90%;
  margin: 0 auto;
  padding: 2.5rem 0; }
  .heading-page--title {
    display: block;
    width: 100%;
    font-size: 2.7rem;
    font-weight: 900;
    line-height: 3.5rem;
    letter-spacing: 0px;
    color: #000; }

.renter {
  color: #000 !important;
  text-transform: uppercase;
  display: block;
  width: 100%; }
  .renter--title {
    font-size: 1.25rem;
    line-height: 5rem;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold; }
  .renter--value-xl {
    display: block;
    width: 100%;
    font-size: 8rem;
    font-weight: 500;
    line-height: 5rem;
    letter-spacing: 0px;
    color: #000;
    margin: 2rem 0; }
    @media only screen and (max-width: 37.5em) {
      .renter--value-xl {
        letter-spacing: -.2rem;
        font-size: 8rem;
        line-height: 7rem;
        text-align: center; } }

.spot-container {
  padding: 2rem 0; }

.spot {
  color: #000;
  text-transform: uppercase;
  display: block;
  width: 100%; }
  .spot--title {
    font-size: 1.2rem;
    letter-spacing: .1rem;
    line-height: 1.5rem;
    text-align: center;
    margin-bottom: 1rem; }
  .spot--value {
    font-size: 2.25rem;
    letter-spacing: .1rem;
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 9999; }
  .spot--test {
    font-size: 1.5rem;
    letter-spacing: .1rem;
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff; }
  .spot--address {
    font-size: 1.25rem;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: center; }
  .spot--banner {
    font-size: 1.25rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: center;
    line-height: 4rem; }
  .spot--name {
    font-size: 1.1rem;
    letter-spacing: .3rem;
    padding-left: 1rem; }
    @media only screen and (max-width: 37.5em) {
      .spot--name {
        font-size: 1.8rem; } }

.icon {
  color: #fff; }

.icon-back {
  color: #fff;
  padding-top: 1.5rem; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.heading-page--main {
  color: #fff;
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: -.2rem; }

.heading-form {
  text-align: center;
  padding-bottom: 2rem;
  letter-spacing: .1px; }
  .heading-form--title {
    font-size: 1.3rem;
    font-weight: 600;
    color: #202020; }
  .heading-form--text {
    font-size: 1.3rem;
    color: #000;
    font-weight: normal; }

.form-break {
  height: 1px;
  background-color: #eee;
  border: 0;
  width: 250px;
  margin: 3rem auto; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-lg {
  margin-bottom: 8rem !important; }

.u-margin-bottom-md {
  margin-bottom: 4rem !important; }

.u-margin-bottom-sm {
  margin-bottom: 1.5rem !important; }

.u-margin-top-lg {
  margin-bottom: 8rem !important; }

.u-margin-top-xl {
  margin-bottom: 10rem !important; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  padding: 1.5rem 1rem;
  display: inline-block;
  border-radius: .6rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  text-align: center;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  /* x, y, blur */ }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--header {
  display: block !important;
  width: 100%;
  background-color: #007CC2;
  color: white;
  animation: moveInBottom 1.5s ease; }
  .btn--header::after {
    background-color: #007CC2; }

.btn--main {
  display: block !important;
  width: 20rem;
  background-color: #cf1f1f;
  color: #fff;
  font-weight: 500;
  border-radius: 5rem;
  letter-spacing: .5px; }
  .btn--main::after {
    background-color: #cf1f1f; }

.btn--form {
  display: block !important;
  width: 100%;
  margin: 0 auto;
  background-color: #cf1f1f;
  color: #fff;
  font-weight: 500;
  border-radius: .5rem; }
  .btn--form::after {
    background-color: #fff; }

.btn--rent {
  display: block !important;
  width: 20rem;
  margin: 0 auto;
  background-color: #cf1f1f;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom 1.5s ease-out .75s;
  /* class speed type delay */
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: .3rem;
  transition: all .2s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.feature-box {
  font-size: 2.5rem;
  color: #fff;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #7ed56f, #20b573);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.form__container {
  width: 40rem;
  background-color: #fff;
  position: relative;
  left: 10%;
  top: 4rem;
  padding: 3rem;
  border-radius: 6px;
  box-shadow: 0 0.25rem 1rem 0.25rem rgba(48, 48, 48, 0.1); }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  color: inherit;
  font-family: inherit;
  font-size: 1.5rem;
  padding: 1rem 1rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #eee;
  width: 100%;
  display: block;
  transition: all .3s;
  margin: 0 auto;
  text-align: left;
  color: #000; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #55c57a; }
  .form__input:focus:invalid {
    border-bottom: 1px solid #ff7730; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__input-sm {
  color: inherit;
  font-family: inherit;
  font-size: 1.5rem;
  padding: 1rem 1rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #eee;
  width: 47%;
  display: inline-block;
  transition: all .3s;
  text-align: left;
  color: #000;
  margin-right: 2rem; }
  .form__input-sm:nth-child(2n) {
    margin-right: 0; }
  .form__input-sm:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #55c57a; }
  .form__input-sm:focus:invalid {
    border-bottom: 1px solid #ff7730; }
  .form__input-sm::-webkit-input-placeholder {
    color: #999; }

.form__input-xs {
  color: inherit;
  font-family: inherit;
  font-size: 1.5rem;
  padding: 1rem 1rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #eee;
  width: 29%;
  display: inline-block;
  transition: all .3s;
  text-align: left;
  color: #000;
  margin-right: 2rem; }
  .form__input-xs:nth-child(3n) {
    margin-right: 0; }
  .form__input-xs:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #55c57a; }
  .form__input-xs:focus:invalid {
    border-bottom: 1px solid #ff7730; }
  .form__input-xs::-webkit-input-placeholder {
    color: #999; }

.form__label {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: .3rem;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s;
  text-align: center;
  color: #000; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

select {
  height: 4.5rem; }

.errorMsg {
  color: #cc0000;
  margin-bottom: 12px; }

.sucessMsg {
  color: #6B8E23;
  margin-bottom: 10px; }

.modal {
  padding: 3rem; }

.popup-content {
  width: 370px !important; }

.parking-card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 43rem;
  margin-bottom: 3rem; }
  .parking-card__side {
    font-size: 2rem;
    height: 43rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 0 0.5rem 1rem rgba(48, 48, 48, 0.15); }
    .parking-card__side--front {
      background-color: #fff; }
    .parking-card__side--back {
      transform: rotateY(180deg); }
      .parking-card__side--back-1 {
        background-image: linear-gradient(to right bottom, #25abf8, #55c57a); }
  .parking-card__button {
    height: 7rem;
    width: 7rem;
    background-color: #000;
    border-radius: 4rem;
    margin: 0 auto;
    position: relative; }
  .parking-card__link {
    position: relative;
    margin: 0 auto;
    text-align: center; }
  .parking-card__banner {
    float: left;
    width: 100%;
    height: 4rem;
    background-color: #000; }
  .parking-card__picture {
    float: left;
    width: 100%;
    height: 20rem; }
    .parking-card__picture--1 {
      height: 100%;
      background-image: url(img/house.jpg);
      background-size: cover;
      background-position: bottom;
      background-color: #eee; }
  .parking-card__details {
    width: 100%;
    float: left;
    padding: 2rem;
    text-transform: uppercase; }
  .parking-card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup__close:link, .popup__close:visited {
    color: #cf1f1f;
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
    font-size: 2.5rem;
    font-weight: 900;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 1rem; }
  .popup__close:hover {
    color: #000; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5rem;
    width: 75%;
    background-image: linear-gradient(to right bottom, #25abf8, #55c57a);
    box-shadow: 0 2rem 4rem black;
    border-radius: 3px;
    text-align: center; }

.footer-reservation {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 8rem;
  box-shadow: 0 0 1rem 0.5rem rgba(153, 153, 153, 0.15);
  padding: 1.5rem 0;
  background-color: #fff; }

.row {
  max-width: 90%;
  margin: 0 auto; }
  @media (max-width: 56.25em) {
    .row {
      max-width: 90%;
      overflow: scroll;
      height: 60rem; } }
  @media only screen and (max-width: 37.5em) {
    .row {
      overflow: scroll;
      height: 60rem; } }
  .row:not(:last-child) {
    margin-bottom: 2rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 37.5em) {
      .row [class^="col-"] {
        width: 100% !important;
        float: none; } }
  .row .col-1-of-1 {
    width: calc((100% - 2rem)); }
  .row .col-1-of-2 {
    width: calc((100% - 2rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 2rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 2rem) / 3) + 2rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 2rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 2rem) / 4) + 2rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 2rem) / 4) + 2 * 2rem); }

.row-container {
  width: 90%;
  margin: 0 auto; }

.parking-container {
  max-width: 90%;
  margin: 0 auto; }
  .parking-container:not(:last-child) {
    margin-bottom: 2rem; }
    @media (max-width: 56.25em) {
      .parking-container:not(:last-child) {
        margin-bottom: 6rem; } }
  .parking-container::after {
    content: "";
    display: table;
    clear: both; }
  .parking-container [class^="col-"] {
    float: left;
    margin-right: 2.5rem; }
  .parking-container .col-1-of-1 {
    width: 100%; }
  .parking-container .col-1-of-2 {
    width: calc((100% - 2rem) / 2); }
  .parking-container .col-1-of-3 {
    width: calc((100% - 2 * 2rem) / 3); }
    .parking-container .col-1-of-3:nth-child(3n) {
      margin-right: 0; }
    @media (max-width: 56.25em) {
      .parking-container .col-1-of-3 {
        width: 100% !important; } }
    @media only screen and (max-width: 37.5em) {
      .parking-container .col-1-of-3 {
        width: 100% !important;
        margin: 0 auto !important; } }

.header {
  height: 90vh;
  min-height: 70rem;
  background-image: url(img/background.jpg);
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .header {
      background-position: right;
      background-size: cover;
      background-position: bottom; } }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
    height: 10rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: relative;
    width: 60%;
    z-index: 1000; }
    @media only screen and (max-width: 37.5em) {
      .header__text-box {
        width: 80%; } }
  .header__section-box {
    position: relative;
    width: 60%;
    z-index: 1000; }
    @media only screen and (max-width: 37.5em) {
      .header__section-box {
        width: 80%; } }
  .header__menu {
    padding: 3rem;
    margin: 0 auto;
    width: 80%;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .3rem;
    border-bottom: 1px solid white; }
    .header__menu ul {
      list-style: none; }

.section__text-box {
  padding: 22rem 5rem;
  text-align: left; }
  @media only screen and (max-width: 37.5em) {
    .section__text-box {
      width: 80%; } }

.section__container {
  padding-top: 10rem;
  height: 100%;
  width: 40rem;
  margin: 0 auto; }

.header-renter {
  position: relative;
  height: 50rem; }
  .header-renter__background {
    height: 100%;
    background-color: #f7f7f7;
    padding: 4rem; }
  .header-renter__background-image {
    height: 100%;
    background-image: url(img/house.jpg);
    background-size: cover;
    background-position: center; }

.index-navigation__menu {
  display: block;
  padding: 3rem;
  margin: 0 auto;
  width: 83%;
  position: absolute;
  margin-bottom: 4rem;
  left: 50%;
  margin-left: -41.5%;
  color: #fff;
  font-size: 1.25rem;
  z-index: 2000;
  text-transform: uppercase;
  letter-spacing: .3rem;
  border-bottom: 1px solid white; }
  .index-navigation__menu ul {
    list-style: none; }
  .index-navigation__menu li {
    display: inline-block;
    text-align: center;
    width: calc((100% - 3 * 2rem) / 4); }
    .index-navigation__menu li:nth-child(4n) {
      margin-right: 0; }

.navigation {
  position: relative;
  display: fixed;
  width: 100%;
  height: 80px;
  background-color: #fff; }
  .navigation__nav {
    position: absolute;
    padding: 2rem 2rem;
    margin-bottom: 4rem;
    top: 0;
    right: 0;
    width: 500px; }
  .navigation__list {
    text-align: center;
    list-style: none;
    width: 100%; }
  .navigation__item {
    padding: 0 1.5rem;
    display: inline-block;
    white-space: nowrap; }
  .navigation__link {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: .2px;
    padding: 1rem 0 2.3rem 0;
    color: #202020;
    text-decoration: none; }
    .navigation__link:link, .navigation__link:visited {
      display: inline-block;
      font-size: 1.4rem;
      font-weight: bold;
      letter-spacing: .2px;
      padding: 1rem 0 2.3rem 0;
      color: #202020;
      text-decoration: none; }
    .navigation__link:hover, .navigation__link:active {
      border-bottom: 3px solid #cf1f1f; }

.section-home {
  height: 85vh;
  min-height: 60rem;
  background-image: url(img/background.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0; }

.section-about {
  height: 70rem;
  background-color: #20b573;
  position: relative; }

.section-parking {
  padding-top: 5rem;
  position: relative; }

.section-renter {
  padding: 2rem 0;
  position: relative; }

.data-renter {
  position: relative;
  height: 30rem; }
  .data-renter__background {
    height: 100%;
    background-color: #f7f7f7;
    padding: 4rem;
    width: 100%; }
  .data-renter__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
