.footer-reservation {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 8rem;
    box-shadow: 0 0 1rem .5rem rgba($color-grey-dark-2, 0.15);
    // padding: 1.5rem 0;
    background-color: $color-white;

    &__left {
        float: left;
        width: 30%;
        padding: 2rem;
        margin-left: 2rem;
        display: table;
    }

    &__right {
        float: right;
        width: 30%;
        padding: 1.5rem;
        margin-right: 2rem;
        display: table;
    }

}

.renter {
    color: $color-black !important;
    text-transform: uppercase;
    display: block;
    width: 100%;

    &--title {
        font-size: 1.25rem;
        line-height: 5rem;
        color: $color-black;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: bold;
    }

    &--value-xl {
        display: block;
        width: 100%;
        font-size: 8rem;
        font-weight: 900;
        line-height: 5rem;
        letter-spacing: 0px;
        color: $color-black;
        margin: 2rem 0;

        @include breakpoint(phone) {
            letter-spacing: -.2rem;
            font-size: 8rem;
            line-height: 7rem;
            text-align: center;
        }
    }

    &--item-address {
        font-size: 1.25rem;
        display: block;
        line-height: 2rem;
        color: $color-black;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: bold;
    }

    &--item-price {
        height: 100%;
        font-size: 1.75rem;
        display: inline-block;
        line-height: 2rem;
        color: $color-black;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: bold;
        float: left;
        position: relative;
    }
}