.header {
    height: 80rem;
    min-height: 70rem;
    background-image: url(img/background.jpg);
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 3000;
    position: relative;
    // -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    // clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    @include breakpoint(phone) {
        background-position: right;
        background-size: cover;
        background-position: bottom;

    }


    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
        height: 10rem;
    }

    &__logo {
        height: 3.5rem
    }

    &__text-box {
        position: relative;
        width: 60%;
        z-index: 1000;

        @include breakpoint(phone) {
            width: 80%;
        }
    }

    &__section-box {
        position: relative;
        width: 60%;
        z-index: 1000;

        @include breakpoint(phone) {
            width: 80%;
        }
    }

    &__menu {
        padding: 3rem;
        margin: 0 auto;
        width: 80%;
        color: $color-white;
        text-transform: uppercase;
        letter-spacing: .3rem;
        border-bottom: 1px solid white;

        ul {
            list-style: none;
        }
    }
}


