.index-navigation {

    &__menu {
        display: block;
        padding: 3rem;
        margin: 0 auto;
        width: 83%;
        position: absolute;
        margin-bottom: 4rem;
        left: 50%;
        margin-left: -41.5%;
        color: $color-white;
        font-size: 1.25rem;
        z-index: 2000;

        text-transform: uppercase;
        letter-spacing: .3rem;
        border-bottom: 1px solid white;

        ul {
            list-style: none;
            
        }

        li {
            display: inline-block;
            text-align: center;
            // width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
            width: calc((100% - 3 * #{$gutter-horizontal}) / 4);

            &:nth-child(4n) {
                margin-right: 0;
            }
        }
    }

}