.navigation {

    &__nav-container {
        position: fixed;
        width: 100%;
        height: 8rem !important;
        background-color: $color-black;
        z-index: 1000;
    }

    &__checkbox {
        display: none;
    }

    &__logo-box {
        position: absolute;
        top: 2rem;
        left: 4.5rem;
        // z-index: 4000;

        @include breakpoint(phone) {
            top: 2.3rem;
        }
    }

    &__logo {
        font-size: 2.25rem;
        color: $color-white;
        // letter-spacing: 1px;
        font-weight: 800;
    }

    &__logo-icon {
        color: $color-white;
    }

    &__button {
        display: none;
        opacity: 0;
        visibility: hidden;

        @include breakpoint(tab-port) {
            display: block;
            opacity: 1;
            visibility: visible;
            // background-color: $color-white;
            height: 5rem;
            width: 5rem;
            position: fixed;
            top: 1.4rem;
            right: 3rem;
            border-radius: 7rem;
            z-index: 5000;
            text-align: center;
            cursor: pointer;
        }
            
        @include breakpoint(phone) {
            height: 5rem;
            width: 5rem;
            top: 1.4rem;
            right: 2rem;
        }
    }

    &__background {
        display: none;
        opacity: 0;
        visibility: hidden;

        @include breakpoint(tab-port) {
            display: block;
            opacity: 1;
            visibility: visible;
            height: 5rem;
            width: 5rem;
            border-radius: 5rem;
            position: fixed;
            top: 1.4rem;
            right: 3rem;
            background-image: linear-gradient(180deg, $color-primary, $color-primary);
            z-index: 4000;
            transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);

            &:hover {
                height: 4rem;
                width: 4rem;
                transition: all .3s;
            }
        }

        @include breakpoint(phone) {
            height: 5rem;
            width: 5rem;
            top: 1.4rem;
            right: 2rem;
        }
    }

    &__nav { 
        position: absolute;
        width: 100%;
        height: 80px;
        padding: 2rem;
        background-color: transparent;
        // background-color: $color-black; 
        // border-bottom: 6px solid $color-red;
        // z-index: 4000;


        @include breakpoint(tab-port) {
            height: 100vh;
            visibility: hidden;
            // position: fixed;
            top: -50rem;
            // left: 0;
            z-index: 4000;
            opacity: 0;
            // width: 0;
            transition: all .3s .3s;
        }

    }

    &__list {
        text-align: right;
        list-style: none;
        width: 100%;

        @include breakpoint(tab-port) {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            list-style: none;
            text-align: center;
        }
    }

    &__item {
        padding: 0 1.5rem;
        display: inline-block;
        white-space: nowrap;

        @include breakpoint (tab-port) {
            display: block;
            margin: 1rem;
        }
    }

    &__link {
        display: inline-block;
        font-size: 1.4rem;
        font-weight: bold;
        letter-spacing: .2px;
        color: $color-white;
        text-decoration: none;
        cursor: pointer;

        &:link,
        &:visited {
            display: inline-block;
            font-size: 1.4rem;
            font-weight: bold;
            letter-spacing: .2px;
            line-height: 4rem;
            color: $color-white;
            text-decoration: none;
            // background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-black 50%);
            // background-size: 240%;
            // transition: all .6s;
        }

        &:hover,
        &:active {
            // border-bottom: 3px solid $color-red;
            // color: $color-white;
        }

        @include breakpoint(tab-port) {
            display: inline-block;
            font-size: 7rem;
            line-height: 6rem;
            font-weight: 900;
            letter-spacing: 2px;
            text-transform: uppercase;
            padding: 1rem 2rem;
            color: $color-white;
            text-decoration: none;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
            background-size: 240%;
            transition: all .6s;

            &:link,
            &:visited {
                display: inline-block;
                font-size: 7rem;
                line-height: 6rem;
                font-weight: 900;
                letter-spacing: 2px;
                text-transform: uppercase;
                padding: 1rem 2rem;
                color: $color-white;
                text-decoration: none;
                background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
                background-size: 240%;
                transition: all .6s;
            }

            &:hover,
            &:active {
                background-position: 100%;
                color: $color-primary;
                transform: translateX(1rem);
            }
        }

        @include breakpoint(tab-port) {
            font-size: 6rem;
            line-height: 5rem;

            &:link,
            &:visited {
                font-size: 6rem;
                line-height: 5rem;
            }
        }

        @include breakpoint(phone) {
            font-size: 4rem;
            line-height: 3rem;

            &:link,
            &:visited {
                font-size: 4rem;
                line-height: 3rem;
            }
        }
    }

    // Functionality
    &__checkbox:checked ~ &__background {
        transform: scale(90);
    }

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        visibility: visible;
        width: 100%;
        top: 0;
        left: 0;
    }

    // Icon
    &__icon {
        position: relative;
        margin-top: 2.35rem;

        @include breakpoint (phone) {
            margin-top: 2.45rem;
        }

        &,
        &::before,
        &::after {
            width: 2rem;
            height: 2px;
            background-color: $color-white;
            display: inline-block;
            border-radius: 1rem;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before { top: -.8rem }
        &::after { top: .8rem }
    }

    // &__button:hover &__icon::before {
    //     top: -1rem;
    // }

    // &__button:hover &__icon::after {
    //     top: 1rem;
    // }

    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before {
        top: 0;
        transform: rotate(45deg);
    }

    &__checkbox:checked + &__button &__icon::after {
        top: 0;
        transform: rotate(-45deg);
    }
}