.navigation {
    position: relative;
    display: fixed;
    width: 100%;
    height: 80px;
    background-color: $color-white;
    border-bottom: 1px solid $color-grey-dark-3;

    &__nav { 
        position: absolute;
        padding: 2rem 2rem;
        margin-bottom: 4rem;
        top: 0;
        right: 0;
        width: 400px;
        // margin-right: -41.5%;
    }

    &__list {
        text-align: center;
        list-style: none;
        width: 100%;
    }

    &__item {
        padding: 0 1.5rem;
        display: inline-block;
        white-space: nowrap;
    }

    &__link {

        display: inline-block;
        font-size: 1.4rem;
        font-weight: bold;
        letter-spacing: .2px;
        padding: 1rem 0 2.3rem 0;
        color: $color-grey-dark-3;
        text-decoration: none;

        &:link,
        &:visited {
            display: inline-block;
            font-size: 1.4rem;
            font-weight: bold;
            letter-spacing: .2px;
            padding: 1rem 0 2.3rem 0;
            color: $color-grey-dark-3;
            text-decoration: none;
            // background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-black 50%);
            // background-size: 240%;
            // transition: all .6s;
        }

        &:hover,
        &:active {
            border-bottom: 3px solid $color-red;
        }
    }
}

