.btn {
    &,
    &:link,
    &:visited {
        text-decoration: none;
        padding: 1.5rem 1rem;
        display: inline-block;
        border-radius: .6rem;
        transition: all .2s;
        position: relative;
        font-size: 1.6rem;
        text-align: center;
        // letter-spacing: .1rem;

        // Change for the button element
        border: none;
        cursor: pointer;
    }

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 .75rem 1.5rem rgba($color-black, .2);
        /* x, y, blur */
    }
    
    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba(48, 48, 48, 0.15);
    }
    
    &--white {
        background-color: $color-white;
        color: $color-grey-dark;

        &::after {
            background-color: $color-white;
        }
    }

    &--header {
        display: block !important;
        width: 100%;
        background-color: $color-blue;
        color: white;
        animation: moveInBottom 1.5s ease;
        // font-weight: 300;
        // letter-spacing: .5rem !important;

        &::after {
            background-color: $color-blue;
        }
    }

    &--main {
        display: block !important;
        width: 20rem;
        background-color: $color-red;
        color: $color-white;
        font-weight: 500;
        border-radius: 5rem;
        letter-spacing: .5px;

        &::after {
            background-color: $color-red;
        }
    }

    &--delete {
        height: 5rem;
        width: 5rem;
        background-image: linear-gradient(
            120deg,
            $color-red,
            $color-red-dark
        );
        border-radius: 4rem;
        margin: 0 auto;
        position: relative;
        cursor: pointer;
    
        &::after {
            background-color: $color-red;
        }
    }

    &--spot {
        height: 5rem;
        width: 5rem;
        background-image: linear-gradient(
            120deg,
            $color-primary,
            $color-primary-dark
        );
        border-radius: 4rem;
        margin: 0 auto;
        position: relative;
        cursor: pointer;
    
        &::after {
            background-color: $color-primary;
        }
    }

    &--form {
        display: block !important;
        width: 100%;
        margin: 0 auto;
        // background-color: $color-red;
        background-image: linear-gradient(
            120deg,
            $color-red-light,
            $color-red-dark
        );
        color: $color-white;
        font-weight: 500;
        border-radius: 5rem;
    
        &::after {
            background-color: $color-white;
        }
    }

    &--rent {
        display: block !important;
        width: 20rem;
        margin: 0 auto;
        background-image: linear-gradient(
            120deg,
            $color-red-light,
            $color-red-dark
        );
        color: $color-white;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.25rem;
        letter-spacing: 1px;
        border-radius: 5rem;
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    
    // &:hover::after {
    //     transform: scaleX(1.4) scaleY(1.6);
    //     opacity: 0;
    // }
    
    &--animated {
        animation: moveInBottom 1.5s ease-out .75s;
        /* class speed type delay */
        animation-fill-mode: backwards;
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: .3rem;
        transition: all .2s;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(0);
    }
}