
.btn {
    &,
    &:link,
    &:visited {
        text-decoration: none;
        padding: 1.5rem 1rem;
        display: inline-block;
        border-radius: .6rem;
        transition: all .2s;
        position: relative;
        font-size: 1.6rem;
        text-align: center;

        background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
        background-size: 240%;
        transition: all .6s;
        // letter-spacing: .1rem;

        // Change for the button element
        border: none;
        cursor: pointer;
    }

    // &:hover {
    //     transform: translateY(-2px);
    //     box-shadow: 0 .75rem 1.5rem rgba($color-black, .2);
    //     /* x, y, blur */
    // }
    
    // &:active,
    // &:focus {
    //     outline: none;
    //     transform: translateY(-1px);
    //     box-shadow: 0 .5rem 1rem rgba(48, 48, 48, 0.15);
    // }
    
    &--white {
        background-color: $color-white;
        color: $color-grey-dark;

        &::after {
            background-color: $color-white;
        }
    }

    &--header {
        display: block !important;
        width: 100%;
        background-color: $color-blue;
        color: white;
        animation: moveInBottom 1.5s ease;
        // font-weight: 300;
        // letter-spacing: .5rem !important;

        &::after {
            background-color: $color-blue;
        }
    }

    &--main {
        width: 20rem;
        border-radius: 5rem;
        font-weight: bold;
        letter-spacing: .5px;
        padding: 1rem 2rem;
        color: $color-primary;
        text-decoration: none;
        background-image: linear-gradient(120deg, $color-white 0%, $color-white 50%, $color-primary-dark 50%);
        background-size: 240%;
        transition: all .6s;

        &:hover,
        &:active {
            background-position: 100%;
            color: $color-white;
            // transform: translateX(1rem);
        }
    }

    &--delete {
        height: 3.5rem;
        width: 3.5rem;
        background-image: linear-gradient(
            120deg,
            $color-red,
            $color-red-dark
        );
        border-radius: 4rem;
        cursor: pointer;
    
        &::after {
            background-color: $color-red;
        }
    }

    &--spot {
        height: 3.5rem;
        width: 3.5rem;
        background-image: linear-gradient(
            120deg,
            $color-primary,
            $color-primary-dark
        );
        border-radius: 4rem;
        cursor: pointer;
    
        &::after {
            background-color: $color-primary;
        }
    }

    &--form {
        display: block !important;
        width: 100%;
        margin: 0 auto;
        // background-color: $color-red;
        background-image: linear-gradient(
            120deg,
            $color-red,
            $color-red-dark
        );
        color: $color-white;
        font-weight: 500;
        border-radius: 5rem;
        letter-spacing: .5px;
    
        &::after {
            background-color: $color-white;
        }
    }

    &--rent {
        display: block !important;
        width: 20rem;
        margin: 0 auto;
        background-image: linear-gradient(
            120deg,
            $color-red,
            $color-red-dark
        );
        color: $color-white;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.25rem;
        letter-spacing: 1px;
        border-radius: 5rem;
    }

    &--card {
        display: block !important;
        width: 20rem;
        margin: 0 auto;
        color: $color-primary;
        font-weight: bold;
        // font-size: 1.25rem;
        letter-spacing: .5px;
        border-radius: 5rem;

        background-image: linear-gradient(120deg, $color-white 0%, $color-white 50%, $color-primary-dark 50%);
        background-size: 240%;
        transition: all .6s;

        &:hover,
        &:active {
            background-position: 100%;
            color: $color-white;
            // transform: translateX(1rem);
        }
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    
    // &:hover::after {
    //     transform: scaleX(1.4) scaleY(1.6);
    //     opacity: 0;
    // }
    
    &--animated {
        animation: moveInBottom 1.5s ease-out .75s;
        /* class speed type delay */
        animation-fill-mode: backwards;
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: .3rem;
        transition: all .2s;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(0);
    }
}