.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: 1.4rem;
        letter-spacing: .1rem;

        // Change for the button element
        border: none;
        cursor: pointer;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);
        /* x, y, blur */
    }
    
    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }
    
    &--white {
        background-color: $color-white;
        color: $color-grey-dark;

        &::after {
            background-color: $color-white;
        }
    }

    &--green {
        background-color: $color-primary;
        color: $color-white;

        &::after {
            background-color: $color-primary;
        }
    }

    &--header {
        display: block !important;
        width: 100%;
        background-color: $color-blue;
        color: white;
        animation: moveInBottom 1.5s ease;
        // font-weight: 300;
        // letter-spacing: .5rem !important;

        &::after {
            background-color: $color-blue;
        }
    }

    &--form {
        display: block !important;
        width: 80%;
        margin: 0 auto;
        background-color: $color-black;
        color: $color-white;
        font-weight: bold;
        border-radius: .7rem;

        &::after {
            background-color: $color-white;
        }
    }

    &--blue {
        background-color: $color-blue;
        color: white;
        animation: moveInBottom 1.5s ease;
        // font-weight: 300;
        // letter-spacing: .5rem !important;

        &::after {
            background-color: $color-blue;
        }
    }

    &--gradient {
        background-color: transparent;
        color: white;
        // font-weight: 300;
        // letter-spacing: .5rem !important;

        &:hover {
            background-image: linear-gradient(to right, $color-blue, $color-primary);
        }

        &::after {
            background-image: linear-gradient(to right, $color-blue, $color-primary);
        }
    }

    // &--green {
    //     background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    //     -webkit-background-clip: border-box;
    //     background-color: transparent;
    //     transition: all .2s;
    //     color: white;
    // }
    
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    
    // &:hover::after {
    //     transform: scaleX(1.4) scaleY(1.6);
    //     opacity: 0;
    // }
    
    &--animated {
        animation: moveInBottom 1.5s ease-out .75s;
        /* class speed type delay */
        animation-fill-mode: backwards;
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: .3rem;
        transition: all .2s;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(0);
    }
}