
.form {

    &__container {
        width: 40rem;
        background-color: $color-white;
        position: relative;
        left: 10rem;
        top: 4rem;
        padding: 3rem;
        border-radius: .6rem;
        box-shadow: 0 .25rem 2rem .25rem rgba(48, 48, 48, 0.1);

        @include breakpoint(phone) {
            @include absolute-center; 
        }
    }

    &__filter-container {
        width: 60%;
        background-color: $color-white;
        position: relative;
        padding: 0;
        border-radius: 6px;
        float: right;

        @include breakpoint(tab-port) {
            width: 100%;
        }
    }
    
    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__input {
        color: inherit;
        font-family: inherit;
        font-size: 1.5rem;
        padding: 1rem 1rem;
        border-radius: 2px;
        background-color: rgba($color-white, .5);
        border: 1px solid $color-grey-light-2;
        width: 100%;
        display: block;
        transition: all .3s;
        margin: 0 auto;
        text-align: left;
        color: $color-black;

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: 1px solid $color-primary;
        }

        &:focus:invalid {
            border-bottom: 1px solid $color-secondary-dark;
        }

        &::-webkit-input-placeholder {
            color: $color-grey-dark-2;
        }
    }

    &__input-sm {
        color: inherit;
        font-family: inherit;
        font-size: 1.5rem;
        padding: 1rem 1rem;
        border-radius: 2px;
        background-color: rgba($color-white, .5);
        border: 1px solid $color-grey-light-2;
        width: 47%;
        display: inline-block;
        transition: all .3s;
        text-align: left;
        color: $color-black;
        margin-right: 2rem;

        &:nth-child(2n) {
            margin-right: 0;
        }

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: 1px solid $color-primary;
        }

        &:focus:invalid {
            border-bottom: 1px solid $color-secondary-dark;
        }

        &::-webkit-input-placeholder {
            color: $color-grey-dark-2;
        }
    }

    &__input-xs {
        color: inherit;
        font-family: inherit;
        font-size: 1.5rem;
        padding: 1rem 1rem;
        border-radius: 2px;
        background-color: rgba($color-white, .5);
        border: 1px solid $color-grey-light-2;
        width: 29%;
        display: inline-block;
        transition: all .3s;
        text-align: left;
        color: $color-black;
        margin-right: 2rem;

        &:nth-child(3n) {
            margin-right: 0;
        }

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: 1px solid $color-primary;
        }

        &:focus:invalid {
            border-bottom: 1px solid $color-secondary-dark;
        }

        &::-webkit-input-placeholder {
            color: $color-grey-dark-2;
        }
    }

    &__label {
        font-size: 1rem;
        font-weight: 300;
        letter-spacing: .3rem;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;
        text-align: center;
        color: $color-black;
        // text-transform: uppercase;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

}

select {
    height: 4.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.25rem !important;
    font-weight: bold;
}

.form-break {
    height: 1px;
    background-color: $color-grey-light-2;
    border: 0;
    width: 250px;
    margin: 3rem auto;
}

.errorMsg {
    color: #cc0000;
    margin-bottom: 12px;
  }
  
  .sucessMsg {
    color: #6B8E23;
    margin-bottom: 10px;
  }