.modal {
    padding: 6rem;
}

.popup-content {
    width: 50% !important;
    z-index: 9000 !important;
    overflow: scroll !important;
    height: 50rem !important;

    @include breakpoint(phone) {
        width: 100% !important;
        height: 100vh !important;
        
    }
}

.popup-overlay {
    position: relative;

}