.modal {
    padding: 3rem;
}

.popup-content {
    width: 370px !important;
    z-index: 9000;

    @include breakpoint(phone) {
        width: 100% !important;
        height: 100vh !important;
    }
}

.popup-overlay {

}