.parking-card {
    // Functionality
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 34rem;
    margin-bottom: 3rem;

    &__side {
        font-size: 2rem;
        height: 34rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 1rem;
        overflow: hidden;
        box-shadow: 0 .25rem 2rem .25rem rgba(48, 48, 48, 0.1);

        &--front {
            background-color: $color-primary-dark;
        }
    
        &--back {
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(180deg, $color-primary, $color-primary-light);
                // background-color: $color-primary;
            }

        }
    }

    &__title {
        /* Shaking animation bug fix */
        backface-visibility: hidden;
        width: 100%;
        margin-bottom: 2.25rem;

        &--address {
            display: block;
            color: $color-white;
            width: 100%;
            font-size: 3.5rem;
            font-weight: 900;
            text-align: left;
            // letter-spacing: -.4rem;
            // animation: moveInTop 1.5s ease-out .75s;
            // animation-fill-mode: backwards;
            line-height: 6rem;
            letter-spacing: .2px;
            margin-bottom: 1rem;
    
            @include breakpoint(phone) {
                letter-spacing: 0;
                font-size: 4.5rem;
                line-height: 6.5rem;
                margin-top: 0rem;
                // text-align: center;
            }
        }

        &--value {
            // display: block;
            color: $color-white;
            font-size: 1.5rem;
            font-weight: 500;
            text-align: left;
            letter-spacing: 1px;
            line-height: 3rem;
        }

        &--icon {
            // display: block;
            float: right;
            color: $color-primary;
            font-size: 2.5rem;
            font-weight: 500;
            text-align: right;
            letter-spacing: .5px;
            line-height: 4rem;
            letter-spacing: .2px;
        }
    }

    &__picture {
        float: left;
        width: 100%;
        height: 100%;

        &--1 {
            height: 100%;
            background-image: url(img/house.jpg);
            background-size: cover;
            background-position: bottom;
        }
    }


    &__details {
        width: 100%;
        // float: left;
        padding: 5rem;
        position: relative;
        bottom: 1%;
    }

    &__game {
        width: 100%;
        // float: left;
        padding: 2rem;
        text-transform: uppercase;
        position: absolute;
        bottom: 0;
        margin: 0 auto;
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateX(0);
    }

    // Front-side styling

    &__button {
        height: 4rem;
        width: 4rem;
        background-color: $color-primary-dark;
        // background-image: linear-gradient(
        //     120deg,
        //     $color-primary-light,
        //     $color-primary-dark
        // );
        border-radius: 1rem;
        margin: 0 auto;
        position: relative;
    }

    &__link {
        position: relative;
        margin: 0 auto;
        text-align: center;
    }

    &__banner {
        float: left;
        width: 100%;
        height: 4rem;
        background-color: $color-primary-dark;
        background-image: linear-gradient(
            120deg,
            $color-red,
            $color-red-dark
        );
    }

    // &__picture {
    //     float: left;
    //     width: 100%;
    //     height: 100%;

    //     &--1 {
    //         height: 50%;
    //         background-image: url(img/house.jpg);
    //         background-size: cover;
    //         background-position: center;
    //         background-color: $color-grey-light-2;
    //     }
    // }


    // Back-side styling
    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
    }
}

.card-break {
    height: 1px;
    background-color: $color-primary;
    border: 0;
    width: 100%;
    margin: 1rem 0;
}
