.parking-card {
    // Functionality
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 40rem;
    margin-bottom: 3rem;

    &__side {
        font-size: 2rem;
        height: 40rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 1rem;
        overflow: hidden;
        box-shadow: 0 .25rem 1rem .25rem rgba(48, 48, 48, 0.3);

        &--front {
            background-color: $color-primary-dark;
        }
    
        &--back {
            transform: rotateY(180deg);

            &-1 {
                // background-image: linear-gradient(180deg, $color-primary, $color-primary-light);
                background-color: $color-white;
            }

        }
    }

    &__title {
        /* Shaking animation bug fix */
        backface-visibility: hidden;
        width: 100%;
        margin-bottom: 2.25rem;

        &--address {
            display: block;
            color: $color-white;
            width: 100%;
            font-size: 2.5rem;
            font-weight: 900;
            text-align: left;
            line-height: 6rem;
            letter-spacing: .2px;
            margin-bottom: 1rem;
    
            @include breakpoint(phone) {
                letter-spacing: 0;
                font-size: 3rem;
                line-height: 6.5rem;
                margin-top: 0rem;
                // text-align: center;
            }
        }

        &--value {
            // display: block;
            color: $color-white;
            font-size: 1.2rem;
            font-weight: bold;
            text-align: left;
            letter-spacing: 1px;
            line-height: 3rem;
            text-transform: uppercase;

            @include breakpoint(phone) {
                font-size: 1.25rem;
            }
        }

        &--icon {
            // display: block;
            float: right;
            color: $color-primary;
            font-size: 2.5rem;
            font-weight: 900;
            text-align: right;
            letter-spacing: .5px;
            line-height: 4rem;
            letter-spacing: .2px;
        }
    }

    &__details {
        width: 100%;
        // float: left;
        padding: 5rem;
        position: relative;
        bottom: 1%;
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateX(0);
    }

    // Front-side styling

    &__button {
        height: 4rem;
        width: 4rem;
        background-color: $color-primary-dark;
        // background-image: linear-gradient(
        //     120deg,
        //     $color-primary-light,
        //     $color-primary-dark
        // );
        border-radius: 1rem;
        margin: 0 auto;
        position: relative;
    }

    &__link {
        position: relative;
        margin: 0 auto;
        text-align: center;
    }

    &__banner {
        float: left;
        width: 100%;
        height: 4rem;
        background-color: $color-primary-dark;
        background-image: linear-gradient(
            120deg,
            $color-red,
            $color-red-dark
        );
    }


    // Back-side styling
    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
    }
}

.card-break {
    height: 1px;
    background-color: $color-primary;
    border: 0;
    width: 100%;
    margin: 1rem 0;
}
