.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .6);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &__close {
        &:link, 
        &:visited {
            color: $color-grey-dark-2;
            position: absolute;
            top: 2.5rem;
            left: 2.5rem;
            font-size: 3rem;
            font-weight: 100;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
            line-height: 1rem;
        }

        &:hover {
            color: $color-black;
        }
    }


    &__content {
        @include absolute-center;

        padding: 5rem;
        width: 75%;
        // height: 20rem;
        // background-color: $color-blue;
        background-image: linear-gradient(to right bottom, $color-blue-light, $color-primary);
        box-shadow: 0 2rem 4rem rgba($color-black, 1.0);
        border-radius: 3px;
        text-align: center;
    }

}