@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin primary-gradient {
    background-image: linear-gradient($color-blue-light, $color-primary);
}

@mixin breakpoint ($size) {
    @if $size == desktop {
        @media (min-width: 112.5em) { @content }; // 1800+
    }
    @if $size == tab-land {
        @media (max-width: 75em) { @content }; // 1200px
    }
    @if $size == tab-port {
        @media (max-width: 56.25em) { @content }; // 900px
    }
    @if $size == phone {
        @media only screen and (max-width: 37.5em) { @content }; // 600px
    }
}

