// Colors
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-blue-light: #25abf8;
$color-blue: #007CC2;
$color-blue-dark: #005a8f;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #202020;

$color-white: #fff;
$color-black: #000;

// Font
$default-font-size: 1.6rem;

// Grid
$grid-width: 90%;
$gutter-vertical: 8rem;
$gutter-vertical-sm: 6rem;
$gutter-horizontal: 4rem;
$gutter-horizontal-sm: 2.5rem;

// Border Radius
$default-border-radius: 3px;