// Colors
$color-primary: #20b573;
$color-primary-light: #22c27b;
$color-primary-dark: #266b4c;


$color-blue-light: #25abf8;
$color-blue: #007CC2;
$color-blue-dark: #005a8f;

$color-red: #ef3840;
$color-red-dark: #b22028;
// $color-red: #cf1f1f;
$color-red-light: #e70d0d;
// $color-red-dark: #b80b0b;
// $color-red-dark: #680f00;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light: rgb(199, 199, 199);

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #202020;

$color-white: #fff;
$color-black: #000;

// Font
$default-font-size: 1.6rem;

// Grid
$grid-width: 100%;
$card-detail-width: 95%;
$gutter-vertical: 2rem;
$gutter-vertical-sm: 6rem;
$gutter-horizontal: 2rem;
$gutter-horizontal-s: .5rem;

// Border Radius
$default-border-radius: 3px;
$card-border-radius: 2rem;