.section-dashboard {
    height: 100vh;
    min-height: 60rem;
    width: 100%;
    background-color: $color-grey-light-1;
    z-index: 0;
    position: relative;
}

.dashboard {

    &__sidebar {
        float: left;
        height: 100%;
        width: 20%;
        background-image: linear-gradient(
            120deg,
            $color-primary,
            $color-primary-dark
        );
    }

    &__main {
        width: 80%;
        height: 100%;
        float: left;
        position: relative;
    }

    &__container {
        width: 100%;
        padding: 3rem;
        position: relative;
    }
}

.dashboard-card {
    // Functionality
    position: relative;
    height: 10rem;
    margin-bottom: 1rem;
    background-color: $color-white;
    border-radius: 1rem;
    box-shadow: 0 .25rem 1rem .25rem rgba(48, 48, 48, 0.1);



  
    &__container {
        width: 100%;
        padding: 2rem;
        @include absolute-center;
    }

    &__container-flex-vertical-align-icon {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 400px;
        float: right;
        padding: 0 1rem;
    }

    &__container-flex-vertical-align {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 400px;
        float: left;
        text-align: left;
        padding: 0 1rem;
    }

    // Front-side styling

    &__button {
        height: 7rem;
        width: 7rem;
        background-color: $color-black;
        border-radius: 4rem;
        margin: 0 auto;
        position: relative;
    }

    &__link {
        // position: relative;
        // margin: 0 auto;
        // text-align: center;
        position: relative;
        float: right;
        padding: 0 1rem;
        background-color: transparent;
    }

    &__value {
        // position: relative;
        // margin: 0 auto;
        // text-align: center;
        @include absolute-center;
        float: left;
    }



    // Back-side styling
    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
    }
}

