.section-dashboard {
    height: 100vh;
    min-height: 60rem;
    width: 100%;
    background-color: $color-grey-light-1;
    z-index: 0;
    position: relative;
}

.dashboard {

    &__sidebar {
        float: left;
        height: 100%;
        width: 20%;
        background-image: linear-gradient(
            120deg,
            $color-primary,
            $color-primary-dark
        );
    }

    &__main {
        width: 80%;
        height: 100%;
        float: left;
        padding: 3rem;
        position: relative;
    }
}