
.section-home {
    height: 85vh;
    min-height: 60rem;
    background-image: url(img/background.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

