.section-home {
    // transition: 1s ease-out;
    height: 100%;
    padding-top: 8rem;
}

.section-white {
    height: 60rem;
    background-color: white;
    position: relative;
 }
.section-about {
    // background-color: $color-primary-dark;
    height: 60rem;
    background-image: linear-gradient(
        180deg,
        $color-primary,
        $color-primary
    );
    position: relative;

    @include breakpoint(phone) {
        height: 100rem;
    }

    &__container {
        width: 75%;
        @include absolute-center;
    }

    &__container-flex-vertical-align {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 40rem;
        width: 90%;
        margin: 0 auto;

        @include breakpoint(tab-land) {
            height: 34rem;
        }
    }

    &__image {
        height: 70rem;
        width: 100%;
        background-image: url(img/parking-iphone.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    &__container-absolute {
        @include absolute-center;
    }

    &__container-small {
        position: relative;
        width: 70%;
        margin: 0 auto;
    }

}

.section {

    &__text-box {
        padding: 22rem 10rem;
        text-align: left;

        @include breakpoint(phone) {
            width: 80%;
        }
    }

    &__container {
        padding: 10rem;
        width: 40rem;
        margin: 0 auto;
    }

    &__cta {
        position: absolute;
        top: 100%;
        left: 60%;
        transform: translate(-50%, -50%);
    }
}

.section-transition {

    &__background {
        height: 40rem;
        display: table;
        width: 100%;
        background-image: url(img/section-transition.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        @include breakpoint(phone) {
            background-position: center;
            background-size: auto;
        }
    }
}