
.section-home {
    height: 95vh;
    min-height: 600;
    background-image: url(img/parking-garage.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

