.section-parking {
    padding: 15rem 3rem 3rem 3rem;
    position: relative;
    // animation: moveInBottom 1.5s ease-out;
    // animation-fill-mode: backwards;
    background-image: linear-gradient(
        180deg,
        $color-primary,
        $color-primary-dark
    );

}