.section-renter {
    padding: 2rem 0;
    position: relative;
}

.data-renter {
    position: relative;
    height: 30rem;

    &__background {
        height: 100%;
        background-color: $color-grey-light-1;
        padding: 4rem;
        width: 100%;
    }

    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}