body {
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-black;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.header-primary {
    
    color: $color-black;
    /* Shaking animation bug fix */
    backface-visibility: hidden;
    position: absolute;
    width: 70%;
    left: 11rem;
    top: 7rem;
    margin-bottom: 3rem;
    

    &--main {
        display: block;
        width: 100%;
        font-size: 6.5rem;
        font-weight: 900;
        text-align: left;
        // letter-spacing: -.4rem;
        // animation: moveInTop 1.5s ease-out .75s;
        // animation-fill-mode: backwards;
        line-height: 6.5rem;
        letter-spacing: .2px;

        @include breakpoint(phone) {
            letter-spacing: -.2rem;
            font-size: 8rem;
            line-height: 7rem;
            text-align: center;
        }
    }
}


.heading-primary {
    
    color: $color-white;
    // text-transform: uppercase;
    /* Shaking animation bug fix */
    backface-visibility: hidden;
    margin-bottom: 3rem;
    
    &--sub {
        display: block;
        font-size: 1.5rem;
        font-weight: 300;
        letter-spacing: .5rem;
        animation: moveInLeft 1.25s ease-out 1s;
        animation-fill-mode: backwards;
        margin-bottom: 1.5rem;
        text-align: left;
    }

    &--form {
        display: block;
        width: 100%;
        font-size: 2.7rem;
        font-weight: 900;
        line-height: 3.5rem;
        letter-spacing: 0px;
        color: $color-black;

        @include breakpoint(phone) {
            letter-spacing: -.2rem;
            font-size: 8rem;
            line-height: 7rem;
            text-align: center;
        }
    }

    &--page {
        display: block;
        width: 100%;
        font-size: 4rem;
        font-weight: 500;
        line-height: 5rem;
        letter-spacing: 0px;
        color: $color-black;
        margin: 2rem 0;

        @include breakpoint(phone) {
            letter-spacing: -.2rem;
            font-size: 8rem;
            line-height: 7rem;
            text-align: center;
        }
    }
}

.heading-page {
    max-width: $grid-width;
    margin: 0 auto;
    padding: 2.5rem 0;

    &--title {
        display: block;
        width: 100%;
        font-size: 2.7rem;
        font-weight: 900;
        line-height: 3.5rem;
        letter-spacing: 0px;
        color: $color-black;
    }
}

.renter {
    color: $color-black !important;
    text-transform: uppercase;
    display: block;
    width: 100%;

    &--title {
        font-size: 1.25rem;
        line-height: 5rem;
        color: $color-black;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: bold;
    }

    &--value-xl {
        display: block;
        width: 100%;
        font-size: 8rem;
        font-weight: 500;
        line-height: 5rem;
        letter-spacing: 0px;
        color: $color-black;
        margin: 2rem 0;

        @include breakpoint(phone) {
            letter-spacing: -.2rem;
            font-size: 8rem;
            line-height: 7rem;
            text-align: center;
        }
    }
}

.spot-container {
    padding: 2rem 0;
}
.spot {
    color: $color-black;
    text-transform: uppercase;
    display: block;
    width: 100%;

    // Parking Card

    &--title {
        font-size: 1.2rem;
        letter-spacing: .1rem;
        line-height: 1.5rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    &--value {
        font-size: 2.25rem;
        letter-spacing: .1rem;
        text-align: center;
        font-weight: bold;
        position: absolute;
        top: 44%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $color-white;
        z-index: 9999;
    }

    &--test {
        font-size: 1.5rem;
        letter-spacing: .1rem;
        text-align: center;
        font-weight: bold;
        @include absolute-center;
        color: $color-white;
    }

    &--address {
        font-size: 1.25rem;
        color: $color-black;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: bold;
        text-align: center;
    }

    &--banner {
        font-size: 1.25rem;
        color: $color-white;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: bold;
        text-align: center;
        line-height: 4rem;
    }

    &--name {
        font-size: 1.1rem;
        letter-spacing: .3rem;
        padding-left: 1rem;

        @include breakpoint(phone) {
            font-size: 1.8rem;
        }
    }
}

.icon {
    color: $color-white;
}

.icon-back {
    color: $color-white;
    padding-top: 1.5rem;
}

.paragraph {
    font-size: $default-font-size;
    
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}

.heading-page {

    &--main {
        color: $color-white;
        font-size: 5rem;
        font-weight: 700;
        letter-spacing: -.2rem;
    }
    
}

.heading-form {
    
    text-align: center;
    padding-bottom: 2rem;
    letter-spacing: .1px;

    &--title {
        font-size: 1.3rem;
        font-weight: 600;
        color: $color-grey-dark-3;
    }

    &--text {
        font-size: 1.3rem;
        color: $color-black;
        font-weight: normal;
        
    }
}

.form-break {
    height: 1px;
    background-color: $color-grey-light-2;
    border: 0;
    width: 250px;
    margin: 3rem auto;
}

